body {
	overflow: hidden;
	width: 1100px;
}

TextArea {
	/*white-space: nowrap;*/
}

#B_SSM_S02_Page_Content {	
	background-color: white;	
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	behavior: url(./border-radius.htc);
	overflow: hidden;	
	width: 100%;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Header {
	background-color: #f0f0f0;
	border-top: 2px solid #cacaca;
	border-bottom: 2px solid #cacaca;
	font-size: 16px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	color:#090f90; 
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Tabs {
	padding-top: 5px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Tabs_Tab_Title {
	font-size: 12px;
	font-weight: normal;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Tabs_TabPanel {
	padding-top: 3px;
	border: 1px solid #dcdccf;
	background-color: #f4f3ef;
	font-size: 15px;
	overflow: hidden;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Tabs_Tab_Href_Enable {
		
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Tabs_Tab_Href_Disable {
	background: #f4f3ef;
	color: white;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Errors {
	padding-top: 5px;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Status {
	padding-top: 5px;
	font-size: 15px;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Status .Success {
	color: blue;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Status .Error {
	color: red;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Buttons {	
	margin-top: 10px;
	margin-bottom: 3px;
	padding-left: 15px;
	font-size: 15px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Buttons_Text {
	font-size: 15px;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_HeaderSubInfo {

}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_HeaderSubInfo_Table {
	width: 100%;
	font-size: 15px;
	border-collapse: collapse;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_HeaderSubInfo_Table_Col {
	width: 47%;
	height: 20px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_HeaderSubInfo_Table_Col_Sub {
	width: 250px;
	height: 20px;
	font-size: 15px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel {		
	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_ResultInfo {
	padding-top: 0px;
	padding-left: 5px;			
	background-color: #c0c0c0;
	border: 1px solid #dcdccf;
}

span .B_SSM_S02_Page_Form_ResultPanel_ResultInfo_Title {
	font-size: 15px;
	font-weight: bold;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_ResultPageLinks {
	margin-top: 3px;
	padding-top: 5px;	
	padding-bottom: 5px;
	padding-left: 5px;
	border: 1px solid #dcdccf;
	font-size: 15px;	
	vertical-align: middle;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_DisplayResult {
	margin-top: 3px;		
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_DisplayResult_Table {
	border: 1px solid #dcdccf;
	width: 100%;
	border-collapse: collapse;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_DisplayResult_Table_HeaderCol {
	background-color: #f8f8f8;
	border-bottom: 1px solid #dcdccf;
	height: 20px;
	font-size: 15px;
	font-weight: bold;	
	vertical-align: middle;
	text-align: left;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_DisplayResult_Table_HeaderRow {
	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_ResultPanel_DisplayResult_Table_Col {
	border-bottom: 1px solid #dcdccf;
	height: 20px;
	font-size: 15px;
	font-weight: normal;	
	vertical-align: middle;
	text-align: left;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table {
	padding-top: 5px;
	width: 100%;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Detail {
	padding-top: 5px;
	width: 100%;
	background: #A9E2F3;	
	border-collapse: collapse;
	border-right: 1px solid #A9E2F3;
	border-left: 1px solid #A9E2F3;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Row_Header {
	background: #A9E2F3;	
	border-width: 0px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col_Header {
	background: #A9E2F3;
	border-width: 0px;
	text-align: left;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col_Detail {
	background: #f8f8f8;
	height: 20px;
	border-bottom: 1px solid #A9E2F3;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col_Header_UpVAlign {
	background: #A9E2F3;
	border-width: 0px;
	vertical-align: top;
	text-align: left;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col{
	padding-top: 5px;
	height: 20px;
	width: 45%;
	vertical-align: top;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_InfoKeyCol{	
	width: 150px;
	height: 20px;
	vertical-align: middle;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_InfoKeyCol_UpVAlign{	
	width: 150px;
	height: 20px;
	vertical-align: top;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Container_FieldSet {	
	padding: 10px 10px 10px 10px;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Container {	
	padding: 10px 10px 10px 10px;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_FieldSet {	
	height: 100%
	width: 100%;		
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_FieldSet_Legend {	
	font-weight: bold;		
	font-size: 15px;
}


#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_FieldSet_PanelContent {
	width: 100%;
	overflow: hidden;
	height: 100%;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox {
	width: 200px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_Label {
	width: 200px;
	border: 0px;
	background: #f4f3ef;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_Memo {
	width: 350px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextArea {
	width: 200px;
	height: 95px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_MailAccount {
	width: 150px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_MailPassword {
	width: 100px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_MailBox {
	width: 50px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_Calendar {
	width: 75px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_UpVAlign {
	padding-top: 5px;
	width: 100%;
	vertical-align: top;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_SelectBox {
	width: 205px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Span_IntallationAddress {
	color: blue;
	text-decoration: underline;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_CountryName {
	width: 200px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_ZipCode {
	width: 200px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_InstallationAddress {
	width: 400px;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col_CheckBox {
	width: 15px;
	vertical-align: top;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col_AutoUpdateQuantity_Title {
	width: 160px;
	background: #87CEFA;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_TextBox_Qty {
	width: 50px;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_Table_Col_AutoUpdateQuantity_Title_UpVAlign {
	vertical-align: top;
	text-align: left;	
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_AccountMailsGroup_Href_RemoveLink {
	text-decoration: none;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_View_TextArea {
	background-color: #f4f3ef;
}

#B_SSM_S02_Page_Content .B_SSM_S02_Page_Form_View_TextArea_Memo {
	background-color: #f4f3ef;
	width: 350px;
}
.textAlignTop tr td {
	vertical-align: top;
}
