.popup {
	font-family: verdana,arial,serif,sans-serif;
	font-size: 12px;
	background-image: url('../images/dummy.jpg');
	background-repeat: repeat;
}
.btnGroup {
	text-align: center;
}

.button {
	margin-right: 3px;
}
.popupCur {
	font-size: 12px;
	background-image: url('../images/dummy.jpg');
	background-repeat: repeat;
}
.tableHeaderClass tr td{
    border:1px solid #000000;
}
.tableDataClass tr td{
    border:1px solid #000000;
}