body{
}
.generalInfo{
	margin-top:0.05in;
	background-color:#c0c0c0;
	border-collapse: collapse;
	width:100%;	
	font-weight: bold;
	font-size: 12pt;
	height: 0.26in;
}

.jobTitle{
	background-color:#CEE7FF;
}

.jobTable{
	border-color:#CEE7FF;
}

.resultCls {
	border: 2px solid #cfcfcf;
}
.resultCls th {
	text-align: left;
}