<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Excluding" type="System.Configuration.NameValueSectionHandler,System"/>
  </configSections>
  
  <connectionStrings>
    <add connectionString="Host=192.168.20.15;Port=1521;User ID=bsystest;Password=bsystest;SID=devdb4en;" name="BillingSystem"/>
  </connectionStrings>

  <Excluding>
	<!--
    <add key="T_IPASS_IMP_MONTHLY_SUM" value="ID_LOGIN" />
    <add key="T_RAD_IMP_MONTHLY_SUM" value="SERVICE_GROUP" />
	-->
  </Excluding>
  
  <appSettings>
    <add key="GenForTables" value="T_BAC_H,T_BAC_D,T_BIL_H,T_BIL_D,T_CUST_PLAN_H,T_CUST_PLAN_D,T_CLC_IMP_MONTHLY_SUM,T_RAD_IMP_MONTHLY_SUM,T_IPASS_IMP_MONTHLY_SUM,M_USER,M_USER_ACCESS,M_CUST,M_CUST_ADR,M_CUST_CTC,M_CUST_BANKINFO,T_BIF_H,T_BIF_D,T_SECTION,T_WF_DOC,T_WF_APPROVAL,T_CSB_H,T_CSB_D,T_CLOSING,T_QCS_H,M_PLAN_H,M_PLAN_D,M_PLAN_SVC,T_SUBSCRIPTION_INFO,T_MAIL_ADDRESS,T_RACK_POWER,T_IT_CONTACT,T_CUST_PLAN_LINK,M_PLAN_BATCH_MAPPING,M_CURRENCY,M_WF_SECTION,M_WF_ACTION,M_ATR_TFR,M_CODE,M_SVC" />
    <add key="ExcludeAllFields" value="ID_AUDIT" />
    
    <add key="TriggerCommand" value="CREATE OR REPLACE TRIGGER {0}_ADT
  AFTER INSERT OR UPDATE
  ON {0} REFERENCING NEW AS NEWOBJ OLD AS OLDOBJ
FOR EACH ROW
DECLARE
  secSeq NUMBER;
  currentSeq NUMBER;
  idAudit NUMBER;
  oldVal CLOB;
  newVal CLOB;
BEGIN
  IF :NEWOBJ.ID_AUDIT IS NOT NULL AND (:NEWOBJ.ID_AUDIT != NVL(:OLDOBJ.ID_AUDIT, 0)) THEN
    secSeq := 0;
    {1}
	
    idAudit := :NEWOBJ.ID_AUDIT;
    BEGIN
      SELECT MAX(AUDIT_SEQ) INTO currentSeq
      FROM M_AUDIT_TRAIL_D
      WHERE ID_AUDIT = idAudit
      GROUP BY ID_AUDIT;
      EXCEPTION
        WHEN NO_DATA_FOUND THEN
          currentSeq := 0;
	  END;
    currentSeq := currentSeq + secSeq;
	{2}
  END IF;
END;
/" />
    
    <add key="TriggerBody1" value="
	  IF (:NEWOBJ.{0} != :OLDOBJ.{0}) OR (:NEWOBJ.{0} IS NULL AND :OLDOBJ.{0} IS NOT NULL)  OR (:NEWOBJ.{0} IS NOT NULL AND :OLDOBJ.{0} IS NULL) THEN      
      secSeq := secSeq + 1;
    END IF;" />
    
    <add key="TriggerBody2" value="
    IF (:NEWOBJ.{1} != :OLDOBJ.{1}) OR (:NEWOBJ.{1} IS NULL AND :OLDOBJ.{1} IS NOT NULL)  OR (:NEWOBJ.{1} IS NOT NULL AND :OLDOBJ.{1} IS NULL) THEN      
      oldVal := '' || :OLDOBJ.{1}; oldVal := TRIM(oldVal);
      newVal := '' || :NEWOBJ.{1}; newVal := TRIM(newVal);
      INSERT INTO M_AUDIT_TRAIL_D(ID_AUDIT, AUDIT_SEQ, TABLE_NAME, AT_FIELD, OLD_DATA, NEW_DATA)
      VALUES(idAudit, currentSeq, '{0}', '{1}', oldVal, newVal);
      currentSeq := currentSeq - 1;
    END IF;" />
    
    <add key="DropTriggerCommand" value="DROP TRIGGER {0}_ADT;" />
  </appSettings>
</configuration>

<!--
  ACCOUNTINGLOG,
  COMAINT,
  DEPTMAINT,
  DIVMAINT,
  MD_ADDITIONAL_PROPERTIES,
  MD_CATALOGS,
  MD_COLUMNS,
  MD_CONNECTIONS,
  MD_CONSTRAINTS,
  MD_CONSTRAINT_DETAILS,
  MD_DERIVATIVES,
  MD_GROUPS,
  MD_GROUP_MEMBERS,
  MD_GROUP_PRIVILEGES,
  MD_INDEXES,
  MD_INDEX_DETAILS,
  MD_MIGR_DEPENDENCY,
  MD_MIGR_PARAMETER,
  MD_MIGR_WEAKDEP,
  MD_OTHER_OBJECTS,
  MD_PACKAGES,
  MD_PRIVILEGES,
  MD_PROJECTS,
  MD_REGISTRY,
  MD_REPOVERSIONS,
  MD_SCHEMAS,
  MD_SEQUENCES,
  MD_STORED_PROGRAMS,
  MD_SYNONYMS,
  MD_TABLES,
  MD_TABLESPACES,
  MD_TRIGGERS,
  MD_USERS,
  MD_USER_DEFINED_DATA_TYPES,
  MD_USER_PRIVILEGES,
  MD_VIEWS,
  MIGRATION_RESERVED_WORDS,
  MIGRLOG,
  MIGR_DATATYPE_TRANSFORM_MAP,
  MIGR_DATATYPE_TRANSFORM_RULE,
  MIGR_GENERATION_ORDER,
  M_ALT_ATC,
  M_ALT_D,
  M_ALT_H,
  M_APL_D,
  M_APL_H,
  M_ATR_TFR,
  M_AUDIT_TRAIL,
  M_BANK,
  M_BANK_ADR,
  M_BANK_CTC,
  M_BATCH_MAINTENANCE,
  M_BATCH_USER_ALERT,
  M_CODE,
  M_CODE_HISTORY,
  M_COM,
  M_COM_ADR,
  M_COM_BANKINFO,
  M_COM_CTC,
  M_CURRENCY,
  M_CUST,
  M_CUST_ADR,
  M_CUST_BANKINFO,
  M_CUST_CTC,
  M_GSET_D,
  M_GSET_H,
  M_JOB_LIST,
  M_MODULES,
  M_PLAN_BATCH_MAPPING,
  M_PLAN_D,
  M_PLAN_H,
  M_PLAN_SVC,
  M_SCREEN,
  M_SECTION,
  M_SECTION_GROUP,
  M_SSM,
  M_SUB_MODULES,
  M_SUPPLIER_H,
  M_SVC,
  M_SVC_ITEM,
  M_SVC_PRICE,
  M_SVC_TYPE,
  M_SVG,
  M_USER,
  M_USER_ACCESS,
  M_VENDOR,
  M_WF_ACTION,
  M_WF_SECTION,
  ROLEMAINT,
  TEMP_BIL_D,
  T_AR_STMT_D,
  T_AR_STMT_H,
  T_BAC_D,
  T_BAC_H,
  T_BATCH_LOG,
  T_BATCH_SCH,
  T_BIFPLAN,
  T_BIF_D,
  T_BIF_H,
  T_BIL_D,
  T_BIL_H,
  T_CIT_EXP_HD,
  T_CLC_IMP_HD,
  T_CLC_IMP_MONTHLY_SUM,
  T_CLOSING,
  T_CSB_D,
  T_CSB_H,
  T_CUST_PLAN_D,
  T_CUST_PLAN_H,
  T_CUST_PLAN_LINK,
  T_DOC,
  T_GIR_EXP_HD,
  T_GIR_EXP_TEMP,
  T_GIR_IMP_HD,
  T_IPASS_IMP_HD,
  T_IPASS_IMP_MONTHLY_SUM,
  T_IPASS_IMP_RAW,
  T_IT_CONTACT,
  T_MAIL_ADDRESS,
  T_PLAN_D,
  T_PLAN_H,
  T_PLAN_SVC,
  T_QCS_D,
  T_QCS_H,
  T_RACK_POWER,
  T_RAD_IMP_HD,
  T_RAD_IMP_MONTHLY_SUM,
  T_SECTION,
  T_SET_BATCH,
  T_SET_BATCH_LOG,
  T_SGP_EXP_HD,
  T_SGP_IMP_HD,
  T_SUBSCRIPTION_INFO,
  T_TRM_D,
  T_WF_ACTION,
  T_WF_APPROVAL,
  T_WF_DOC,
  T_WF_SECTION,
  UTBL_SEQ_NO_MONTH,
-->