<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.util.Log4jConfigListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            jp.terasoluna.fw.web.HttpSessionListenerImpl
        </listener-class>
    </listener>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>billingsystemCRM</param-value>
    </context-param>
    <!-- filter setting -->
    <!-- encoding filter -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
             nttdm.bsys.common.fw.SetCharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- TERASOLUNA FW(Struts1) 脆弱性対応パッチ -->
    <filter>
      <filter-name>SecurityValidateFilter</filter-name>
      <filter-class>jp.terasoluna.security.securityvalidator.cve20140094patch.filter.SecurityValidateFilter</filter-class>
    
      <!-- (1) バッファリング処理の一時ファイル出力切り替え閾値。 -->
      <init-param>
        <param-name>memFileSize</param-name>
        <param-value>256K</param-value>
      </init-param>
      <!-- (2) バッファリング処理の一時ファイル出力ディレクトリ。 -->
      <init-param>
        <param-name>tempDir</param-name>
        <param-value>C:\OfficeSystem\</param-value>
      </init-param>
      <!-- (3) リクエストサイズ上限値(バッファリング許容値)。 -->
      <init-param>
        <param-name>maxFileSize</param-name>
        <param-value>250M</param-value>
      </init-param>
      <!-- (4) エラー検知を通知するログのログレベル。 -->
      <init-param>
        <param-name>SecurityValidateExceptionLogLevel</param-name>
        <param-value>error</param-value>
      </init-param>
    </filter>
    
    <filter-mapping>
      <filter-name>SecurityValidateFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Access checking -->
    <filter>
        <filter-name>authorizationControlFilter</filter-name>
        <filter-class> jp.terasoluna.fw.web.thin.AuthorizationControlFilter</filter-class>
        <init-param>
            <param-name>controller</param-name>
            <param-value>authorizationController</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authorizationControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>authenticationControlFilter</filter-name>
        <filter-class>
      		jp.terasoluna.fw.web.thin.AuthenticationControlFilter
    	</filter-class>
        <init-param>
            <param-name>controller</param-name>
            <param-value>
      			authenticationController
    		</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authenticationControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>requestHelperFilter</filter-name>
        <filter-class>
			nttdm.bsys.common.filter.RequestHelperFilter
		</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestHelperFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!-- servlet setting -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <!-- 
    		<servlet-class>org.apache.struts.tiles.ActionComponentServlet</servlet-class>
         -->
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>config/F0201</param-name>
            <param-value>/WEB-INF/F0201/struts-F0201-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/F0303</param-name>
            <param-value>/WEB-INF/F0303/struts-F0303-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/C_CMN002</param-name>
            <param-value>/WEB-INF/C_CMN002/struts-C_CMN002-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/C_CMN001</param-name>
            <param-value>/WEB-INF/C_CMN001/struts-C_CMN001-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/A_USR</param-name>
            <param-value>/WEB-INF/A_USR/struts-A_USR-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_SVT</param-name>
            <param-value>/WEB-INF/M_SVT/struts-M_SVT-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_CST</param-name>
            <param-value>/WEB-INF/M_CST/struts-M_CST-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/A_PWD</param-name>
            <param-value>/WEB-INF/A_PWD/struts-A_PWD-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_ATM</param-name>
            <param-value>/WEB-INF/M_ATM/struts-M_ATM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_WLM</param-name>
            <param-value>/WEB-INF/M_WLM/struts-M_WLM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/A_ADT</param-name>
            <param-value>/WEB-INF/A_ADT/struts-A_ADT-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_CDM</param-name>
            <param-value>/WEB-INF/M_CDM/struts-M_CDM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/C_CMN003</param-name>
            <param-value>/WEB-INF/C_CMN003/struts-C_CMN003-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_ALT</param-name>
            <param-value>/WEB-INF/M_ALT/struts-M_ALT-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_CUR</param-name>
            <param-value>/WEB-INF/M_CUR/struts-M_CUR-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_EML</param-name>
            <param-value>/WEB-INF/M_EML/struts-M_EML-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/Q_QCS</param-name>
            <param-value>/WEB-INF/Q_QCS/struts-Q_QCS-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/BIF</param-name>
            <param-value>/WEB-INF/BIF/struts-BIF-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_CSB</param-name>
            <param-value>/WEB-INF/B_CSB/struts-B_CSB-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_PPM</param-name>
            <param-value>/WEB-INF/M_PPM/struts-M_PPM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_JNM</param-name>
            <param-value>/WEB-INF/M_JNM/struts-M_JNM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_SSM</param-name>
            <param-value>/WEB-INF/M_SSM/struts-M_SSM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_CLS</param-name>
            <param-value>/WEB-INF/B_CLS/struts-B_CLS-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_BNK</param-name>
            <param-value>/WEB-INF/M_BNK/struts-M_BNK-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_MEX</param-name>
            <param-value>/WEB-INF/E_MEX/struts-E_MEX-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_DIM_GR1</param-name>
            <param-value>/WEB-INF/E_DIM_GR1/struts-E_DIM_GR1-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_TRM</param-name>
            <param-value>/WEB-INF/B_TRM/struts-B_TRM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/G_ALT</param-name>
            <param-value>/WEB-INF/G_ALT/struts-G_ALT-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_MIM</param-name>
            <param-value>/WEB-INF/E_MIM/struts-E_MIM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_SET</param-name>
            <param-value>/WEB-INF/E_SET/struts-E_SET-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_DIM</param-name>
            <param-value>/WEB-INF/E_DIM/struts-E_DIM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_MIM_US1</param-name>
            <param-value>/WEB-INF/E_MIM_US1/struts-E_MIM_US1-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_SSM</param-name>
            <param-value>/WEB-INF/B_SSM/struts-B_SSM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_EML</param-name>
            <param-value>/WEB-INF/E_EML/struts-E_EML-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_SSM_S01</param-name>
            <param-value>/WEB-INF/B_SSM_S01/struts-B_SSM_S01-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_SSM_S02</param-name>
            <param-value>/WEB-INF/B_SSM_S02/struts-B_SSM_S02-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_SSM_S03</param-name>
            <param-value>/WEB-INF/B_SSM_S03/struts-B_SSM_S03-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_SSM_S04</param-name>
            <param-value>/WEB-INF/B_SSM_S04/struts-B_SSM_S04-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_BTH</param-name>
            <param-value>/WEB-INF/B_BTH/struts-B_BTH-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_SVG</param-name>
            <param-value>/WEB-INF/M_SVG/struts-M_SVG-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/C_CMN004</param-name>
            <param-value>/WEB-INF/C_CMN004/struts-C_CMN004-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_PBM</param-name>
            <param-value>/WEB-INF/M_PBM/struts-M_PBM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_COM</param-name>
            <param-value>/WEB-INF/M_COM/struts-M_COM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_BIL</param-name>
            <param-value>/WEB-INF/B_BIL/struts-B_BIL-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/M_GBS</param-name>
            <param-value>/WEB-INF/M_GBS/struts-M_GBS-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_BAC</param-name>
            <param-value>/WEB-INF/B_BAC/struts-B_BAC-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/B_CPM</param-name>
            <param-value>/WEB-INF/B_CPM/struts-B_CPM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_AGR</param-name>
            <param-value>/WEB-INF/R_AGR/struts-R_AGR-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_RRR</param-name>
            <param-value>/WEB-INF/R_RRR/struts-R_RRR-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_SAL</param-name>
            <param-value>/WEB-INF/R_SAL/struts-R_SAL-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_ACR</param-name>
            <param-value>/WEB-INF/R_ACR/struts-R_ACR-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_BAC</param-name>
            <param-value>/WEB-INF/R_BAC/struts-R_BAC-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_SOA</param-name>
            <param-value>/WEB-INF/R_SOA/struts-R_SOA-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_SSM</param-name>
            <param-value>/WEB-INF/R_SSM/struts-R_SSM-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/R_REV</param-name>
            <param-value>/WEB-INF/R_REV/struts-R_REV-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/COMMON</param-name>
            <param-value>/WEB-INF/COMMON/struts-COMMON-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/G_SSM_S01</param-name>
            <param-value>/WEB-INF/G_SSM_S01/struts-G_SSM_S01-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/E_EXP</param-name>
            <param-value>/WEB-INF/E_EXP/struts-E_EXP-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description/>
        <display-name>
    	A_USER_UploadPhoto</display-name>
        <servlet-name>A_USER_UploadPhoto</servlet-name>
        <servlet-class>
    	nttdm.bsys.a_usr.blogic.A_USER_UploadPhoto</servlet-class>
    </servlet>
    <!-- Standard Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_USER_UploadPhoto</servlet-name>
        <url-pattern>/A_USER_UploadPhoto</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>jp.terasoluna.security.securityvalidator.cve20140094patch.filter.SecurityValidateException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>jp.terasoluna.fw.web.thin.UnauthorizedException</exception-type>
        <location>/C_CMN001/C_CMN001S06SCR.do</location>
    </error-page>
    <error-page>
        <exception-type>
            jp.terasoluna.fw.web.thin.UnauthenticatedException
        </exception-type>
        <location>/C_CMN001/C_CMN001S01SCR.do</location>
    </error-page>
    <error-page>
        <exception-type>jp.terasoluna.fw.web.thin.ServerBlockageException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
    <jsp-config>
        <!-- Strutsã‚¿ã‚° -->
        <taglib>
            <taglib-uri>/struts-bean</taglib-uri>
            <taglib-location>
                /WEB-INF/tlds/struts-bean.tld
            </taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/struts-html</taglib-uri>
            <taglib-location>
                /WEB-INF/tlds/struts-html.tld
            </taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/struts-logic</taglib-uri>
            <taglib-location>
                /WEB-INF/tlds/struts-logic.tld
            </taglib-location>
        </taglib>
        <!-- TERASOLUNAã‚«ã‚¹ã‚¿ãƒ ã‚¿ã‚° -->
        <taglib>
            <taglib-uri>/terasoluna</taglib-uri>
            <taglib-location>
                /WEB-INF/tlds/terasoluna.tld
            </taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/terasoluna-struts</taglib-uri>
            <taglib-location>
                /WEB-INF/tlds/terasoluna-struts.tld
            </taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/bs</taglib-uri>
            <taglib-location>
                /WEB-INF/tlds/tags.tld
            </taglib-location>
        </taglib>
        <!--Tile -->
        <!-- <taglib>
			<taglib-uri>/WEB-INF/tlds/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/struts-tiles.tld</taglib-location>
		</taglib> -->
    </jsp-config>
</web-app>
